
body{
    background:#F4F4F4;
}

.navbar-pba { border-width: 0px;}
/* red
500 #e51c23
400 #e84e40
900 #b0120a

accent
400 #ffc400
700 #ffab00
500 #ffc107

/* navbar */
.navbar-default {
    background-color:#e51c23;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
.container--base {margin-top:49px;}

.pba--darkred {background:#ffab00;}

.title {font-weight:bold;font-family: Tahoma; font-size:32px;}
.title--darkaccent {color:#ffc107;}
.title--navbar {margin-left:10px;}

.text {color:#000000; opacity:0.87;}
.text--white {color:#FFFFFF; opacity:1;}
.text--secondary {opacity:0.64;}
.text--hint {opacity:0.31;}
.text--divider {opacity:0.12;}







/*description*/
.description-container {background:#F4F4F4;padding-left: 10%; padding-right:10%;padding-top: 3%;}
.form-control-pba {
display: inline-block;
width: 80%;
height: 34px;
padding: 6px 12px;
margin-right: -40px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*description*/
.description-searcher{background:#FFFFFF; border-radius: 6px;}
.description-searcher-title {margin-top:5px; position:relative;}
.description-searcher-title-img {position:relative; top:5px;left:5px; display:inline-block; height:25px;width:8%;font-size: 30px;}
.description-searcher-title-text { display:inline-block; width:20%; height:25px; font-size: 26px;}
.description-searcher-title-form{ display:inline-block; height:25px; width: 65%; position:relative; left:100px;}
.description-searcher-result {}
.description-searcher-loader {}
.description-searcher-placeholder {padding:20px;}
.description-searcher-placeholder img {width:100%;}

.ranking {background:#FFFFFF;border-radius: 6px; padding:20px; padding-top: 7px; margin-bottom:60px}
.description-list {padding-left: 0;margin-bottom:0px;}
.description-list-item {
position: relative;
display: block;
padding: 7px 15px;
margin-bottom: -1px;
background-color: #fff;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.description-list-item-box {display:inline-block; height:30px;width:50px; background:#ffab00;font-weight: bold; text-align: center; font-size: 20px; border-radius: 3px; }
.description-list-item-text {font-size: 18px;margin-left: 20px; }
.description-header {display:block; text-align:center;font-size: 24px; margin-bottom: 5px;}

.separator-text {font-size:30px;display:block; margin-top: -15px; text-align: center;}
/*home*/
.highlight {background:#F4F4F4; padding-left: 10%; padding-right:10%;}

.featurette {margin-top: 10px;}
.featurette-header {}
.featurette-header-img { display:inline-block; width:18%; font-size:40px;}
.featurette-header-title { display:inline-block; width:65%; font-size:30px; margin-top:5px;}
.featurette-content {margin-top:5px; font-size:16px;}
.featurette-link {}

.banner img{width:100%;}
.banner-container{padding:40px;padding-bottom: 90px;}
.banner {border-radius:8px;padding: 5px;background: rgb(255,255,255); /* for IE */background: rgba(255,255,255,1);}

/*prediction*/
.loading {display:none; height: 675px; width:1049px; vertical-align: middle}
.loading img {display:block; margin-left: auto; margin-right: auto;}
#about-prediction {padding-top: 10px}
#prediction-container {padding-top:10px; width:100%}
#prediction-result-container {float:right; margin-top:-10px; background-color: white; height:675px}
#prediction-result {height: 675px; vertical-align: middle; display: table-cell; width: 1049px}
#prediction-result img {margin-left: auto; margin-right: auto; display: block}
.bootstrap-tagsinput {width:322px}
/*.histogram {border:2px solid;}*/
/*.histogram-header {}*/
/*.histogram-header-title {}*/
/*.hitogram-header-description {}*/
/*.histogram-result img {display: block; margin-left: auto; margin-right: auto}*/


/*color*/

.color-container {background:#FFFFFF; border-radius:6px; margin-top:5%; padding-top:20px; padding-bottom:20px;}
.color-main-container {height:700px;}
.color-box {display:inline-block; height:100px; width:100px;border-radius:4px; margin:10px; font-weight:bold;}
.color-box--border{border:2px solid #ddd}
.color-box-text {display:block; height:100%; width:100%;vertical-align: middle; text-align: center; font-size:30px; margin-top: 30px;}
.color-list {margin-top: 30px; background:#F4F4F4; }
.color-info {display:block; width:405px; margin:auto; font-size:18px;}

/*about*/
#about-container {
    font-size:18px;
    background:#FFFFFF;
    border-radius:6px;
    margin-top:5%;
    padding-top:20px;
    padding-bottom:20px;
}