
  .carousel .item img {
      margin-left: auto;
      margin-right: auto;
  }

  #carousel-us {
      float: left;
      width: 50%;
  }

  #carousel-eu {
      width: 50%;
      display: inline-block;
  }

  #map_teaser{
      margin-left: auto;
      margin-right: auto;

  }