{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text text--white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed ligula felis. Vestibulum sagittis a nisl in congue. Morbi malesuada ut nisi vel ullamcorper. Ut hendrerit sapien at rutrum consectetur. Maecenas vitae fringilla metus. Nam sagittis vulputate consectetur. Curabitur at aliquet tellus, ut maximus nulla. Integer ac tortor eu metus porttitor venenatis quis vitae velit. Donec congue accumsan orci id venenatis. Donec molestie tellus eu porta porta.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed ligula felis. Vestibulum sagittis a nisl in congue. Morbi malesuada ut nisi vel ullamcorper. Ut hendrerit sapien at rutrum consectetur. Maecenas vitae fringilla metus. Nam sagittis vulputate consectetur. Curabitur at aliquet tellus, ut maximus nulla. Integer ac tortor eu metus porttitor venenatis quis vitae velit. Donec congue accumsan orci id venenatis. Donec molestie tellus eu porta porta.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="text text--secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed ligula felis. Vestibulum sagittis a nisl in congue. Morbi malesuada ut nisi vel ullamcorper. Ut hendrerit sapien at rutrum consectetur. Maecenas vitae fringilla metus. Nam sagittis vulputate consectetur. Curabitur at aliquet tellus, ut maximus nulla. Integer ac tortor eu metus porttitor venenatis quis vitae velit. Donec congue accumsan orci id venenatis. Donec molestie tellus eu porta porta.</span>
            </div>
        </div>


    </div>

{% endblock %}