{% extends 'base.html' %}
{% block title %} Descriptions {% endblock %}
{% block content %}

    <div class="description-container row" style="background-image:url('{{ STATIC_URL }}images/background.jpg');">

            <div class="description-searcher col-md-7">
                <div class="description-searcher-title">
                    <div class="description-searcher-title-img text text--secondary"><span class="glyphicon glyphicon-tags"></span></div>
                    <div class="description-searcher-title-main text">Search for the rating for your words!</div>
                    <div class="description-searcher-title-secondary text text--secondary">Simply add your word or part of it in the box to the right</div>
                    <form method="post" role="form" class="description-searcher-form" action="">
                        {% csrf_token %}
                        <div class="form-group">
                        <input type="text" class="form-control" id="qry" name="qry">
                            <button class="btn btn-warning pba--darkred"><span class="glyphicon glyphicon-search"></span></button>
                            <!--<input type="submit" value="Submit" name="comment"/>-->
                        </div>
                    </form>
                </div>
                <hr class="text"/>
                <div class="description-searcher-result"></div>
                <div class="description-searcher-placeholder">
                    <img src="{{STATIC_URL}}images/description.png">
                </div>
            </div>

            <div class="ranking col-md-4 col-md-offset-1">

               <ul class="list-group">
                    <li class="list-group-item pba--darkred text--white">Top 5</li>
                {% for word in topList %}
                   <li class="list-group-item">{{ word.value }} {{ word.rating }}   {{ word.votes }}</li>
                {% empty %}
                    no comments existed
                {% endfor %}
                </ul>


                <ul class="list-group">
                    <li class="list-group-item pba--darkred text--white">Bottom 5</li>
                {% for word in bottomList %}
                   <li class="list-group-item">{{ word.value }} {{ word.rating }}     {{ word.votes }}</li>
                {% empty %}
                    no comments existed
                {% endfor %}
                </ul>


            </div>
    </div>


{% endblock %}