{% extends 'base.html' %}
{% block title %} Descriptions {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">

            <br/>

            <div class="col-md-3 col-md-offset-9">
                <ul class="list-group">
                    <li class="list-group-item pba--darkred text--white">Top 5</li>
                {% for comment in topList %}
                   <li class="list-group-item">{{ comment.text }}</li>
                {% empty %}
                    no comments existed
                {% endfor %}
                </ul>
            </div>
      </div>

        <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <ul class="list-group">
                        <li class="list-group-item pba--darkred text--white">Bottom 5</li>
                    {% for comment in bottomList %}
                       <li class="list-group-item">{{ comment.text }}</li>
                    {% empty %}
                        no comments existed
                    {% endfor %}
                    </ul>
                </div>
          </div>
    </div>


{% endblock %}