{% extends 'base.html' %}
{% block title %} Descriptions {% endblock %}
{% block content %}

    <div class="description-container row" style="background-image:url('{{ STATIC_URL }}images/background.jpg');">

            <div class="description-searcher col-md-7">
                <div class="description-searcher-title">
                    <div class="description-searcher-title-img text text--secondary"><span class="glyphicon glyphicon-tags"></span></div>
                    <div class="description-searcher-title-text text">Search</div>


                    <div class="description-searcher-title-form float-right">
                        <form id="desc-query-form" method="post" class="description-searcher-form" action="/getDescription/">
                            {% csrf_token %}

                            <input type="text" class="form-control-pba" id="qry" name="qry">
                                <button id="desc-query-btn" class="btn btn-warning pba--darkred js-form-btn"><span class="glyphicon glyphicon-search"></span></button>
                                <!--<input type="submit" value="Submit" name="comment"/>-->
                        </form>
                    </div>
                </div>
                <hr class="text"/>
                <div id="desc-result" class="description-searcher-result"></div>
                <div id="desc-placeholder" class="description-searcher-placeholder js-placeholder">
                    <img src="{{STATIC_URL}}images/description.png">
                </div>
                <div class="js-loading loading description-searcher-loader">
                        <img src="{{STATIC_URL}}images/spiffygif_56x56.gif" />
                </div>
            </div>

            <div class="ranking col-md-4 col-md-offset-1">

               <ul class="list-group">
                    <li class="list-group-item pba--darkred text--white">Top 5</li>
                {% for word in topList %}
                   <li class="list-group-item">{{ word.value }} {{ word.rating }}   {{ word.votes }}</li>
                {% empty %}
                    no comments existed
                {% endfor %}
                </ul>


                <ul class="list-group">
                    <li class="list-group-item pba--darkred text--white">Bottom 5</li>
                {% for word in bottomList %}
                   <li class="list-group-item">{{ word.value }} {{ word.rating }}     {{ word.votes }}</li>
                {% empty %}
                    no comments existed
                {% endfor %}
                </ul>


            </div>
    </div>


{% endblock %}