{% extends 'base.html' %}
{% block title %} PBA - Home {% endblock %}
{% block content %}

    <div class="row" style="background-image:url('{{ STATIC_URL }}images/background.jpg');">
        <div class="banner-container col-md-4 col-md-offset-8">
            <div class="banner">
                <img src="{{STATIC_URL}}images/Banner-high.png">
            </div>
        </div>
    </div>
    <div class="row highlight">
        <div class="col-md-4 featurette">
            <div class="featurette-header">
                <div class="featurette-header-img text text--secondary"><span class="glyphicon glyphicon-globe"></span></div>
                <div class="featurette-header-title text">Prediction</div>
            </div>
            <div class="featurette-content text text--secondary">
                Unleash the power of our predictor! With this groundbreaking tool you can predict the popularity of beers.
                By specifying the traits of your beer the predictor will bring you a detailed map where users will enjoy your beer.
                Don't waste any more time!<a href="/predictions"> Check it out</a>
            </div>
        </div>

        <div class="col-md-4 featurette">
            <div class="featurette-header">
                <div class="featurette-header-img text text--secondary"><span class="glyphicon glyphicon-tags"></span></div>
                <div class="featurette-header-title text">Description</div>
            </div>
            <div class="featurette-content text text--secondary">
                Never again wonder if a word is socailly acceptable or not when writing your description! With the PBA
                Description analyser you will se which words makes it and which ones doesn't. Type in your special word that you think will
                reflects your beers excelense and watch if the world thinks that its a yay or nay. I hope you are prepared! <a href="/description"> Check it out</a>
            </div>
        </div>

        <div class="col-md-4 featurette">
            <div class="featurette-header">
                <div class="featurette-header-img text text--secondary"><span class="glyphicon glyphicon-tint"></span></div>
                <div class="featurette-header-title text">Colors</div>
            </div>
            <div class="featurette-content text text--secondary">
                Colors colors colors, colors are everywhere and can inspire awe and good feelings, or... induce vomiting reflaxes.
               With PBA's Color tool you can have earthshattering foreknowledge on if your favorite color makes it in the beerworld.
                What are you waiting for?!
               <a href="/color"> Check it out</a>
            </div>
        </div>


    </div>

{% endblock %}